[Desktop Entry]
Encoding=UTF-8
Name=Avian Core
Comment=Connect to the Avian P2P Network
Comment[de]=Verbinde mit dem Avian peer-to-peer Netzwerk
Comment[fr]=Avian, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Avian, eşten eşe kriptografik sanal para birimi
Exec=avian-qt %u
Terminal=false
Type=Application
Icon=avian128
MimeType=x-scheme-handler/avian;
Categories=Office;Finance;
