policy_module(avian, 1.100.1)

########################################
#
# Declarations
#

type avian_t;
type avian_exec_t;
init_daemon_domain(avian_t, avian_exec_t)

permissive avian_t;

type avian_initrc_exec_t;
init_script_file(avian_initrc_exec_t)

type avian_conf_t;
files_type(avian_conf_t)

type avian_var_lib_t;
files_type(avian_var_lib_t)

type avian_var_run_t;
files_type(avian_var_run_t)

type avian_port_t;
corenet_port(avian_port_t)

########################################
#
# avian local policy
#
allow avian_t self:process { fork };

allow avian_t self:fifo_file rw_fifo_file_perms;
allow avian_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(avian_t, avian_conf_t, avian_conf_t)
manage_files_pattern(avian_t, avian_conf_t, avian_conf_t)

manage_dirs_pattern(avian_t, avian_var_lib_t, avian_var_lib_t)
manage_files_pattern(avian_t, avian_var_lib_t, avian_var_lib_t)
files_var_lib_filetrans(avian_t, avian_var_lib_t, { dir file })

manage_dirs_pattern(avian_t, avian_var_run_t, avian_var_run_t)
manage_files_pattern(avian_t, avian_var_run_t, avian_var_run_t)

sysnet_dns_name_resolve(avian_t)
corenet_all_recvfrom_unlabeled(avian_t)

allow avian_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(avian_t)
corenet_tcp_sendrecv_generic_node(avian_t)
corenet_tcp_sendrecv_all_ports(avian_t)
corenet_tcp_bind_generic_node(avian_t)

gen_require(`
    type avian_port_t;
')
allow avian_t avian_port_t:tcp_socket name_bind;

gen_require(`
    type avian_port_t;
')
allow avian_t avian_port_t:tcp_socket name_connect;

domain_use_interactive_fds(avian_t)

files_read_etc_files(avian_t)

miscfiles_read_localization(avian_t)

sysnet_dns_name_resolve(avian_t)

allow avian_t avian_exec_t:file execute_no_trans;
allow avian_t self:process setsched;
corecmd_exec_ls(avian_t)
corenet_tcp_connect_http_port(avian_t)
dev_read_urand(avian_t)
fs_getattr_xattr_fs(avian_t)
kernel_read_system_state(avian_t)
